html {
    scroll-behavior: smooth;
    height: 100%;
    overflow: hidden
}

body {
    background: url("../img/coming-soon-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mta_hack-menu {
    margin: 0 0 30px 20px;
}

.navbar-nav > li {
    padding: 0 0 0 15px;
}

.btn.mta_hack-button {
    border-radius: 5px;
}

#mta_hack_header {
    background-image: url("../img/code.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#mta_hack-header-card {
    text-align: center;
    border-radius: 20px;
    background-color: #37407c;
    max-height: 60%;
    color: white;
    opacity: 0.8;

}

#mta_hack_previous_hacks {
    color: white;
    background-image: url("../img/code.jpg");
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mta_hack-faq-img {
    border-radius: 5px;
    max-width: 90%;
}

.mta_hack-faq-head {
    font-weight: bolder;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 22px;
}

.mta_hack-faq-body {
    font-size: 18px;
}

#mta-hack_judges {
    margin-top: 10%;
    font-weight: lighter;
    font-size: 200%;
    text-align: center;
}

#mta-hack_schedule {
    margin-top: 10%;
    text-align: center;
    font-weight: lighter;
}

#mta-hack_schedule_col {
    background-image: url("../img/code_4.jpg");
    background-size: cover;
}

#mta-hack_faq {
    margin-top: 10%;
    font-weight: lighter;
    text-align: center;
}

.row-full {
    width: 99.225vw;
    font-weight: lighter;
    position: relative;
    margin-left: -49.59vw;
    left: 50%;
}

#mta-hack_team {
    margin-top: 10%;
    font-weight: lighter;
    text-align: center;
}

#mta-hack_sponsors {
    margin-top: 10%;
    font-size: 200%;
    text-align: center;
}

#mta-hack_rules {
    margin-top: 10%;
    font-size: 200%;
    font-weight: lighter;
    text-align: center;
}

#mta-hack_theme {
    margin-top: 10%;
    font-size: 200%;
    font-weight: lighter;
}

#mta-hack_pre-hack {
    text-align: center;
    margin-top: 10%;
    font-size: 200%;
}

.rounded-circle.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.rounded-circle.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#mta-hack_container {
    padding-top: 50px;
}

.mta-hack_soon_block {
    max-width: 100%;
    text-align: center;
    background-color: #F8F9FA;
    border-radius: 100px;
    padding: 10px;
}

#mta-hack-coming_soon-img {
    position: absolute;
    bottom: 15%;
    right: -15%;
    max-height: 300px;
}

#mta-hack-coming_soon-txt {
    line-height: 40%;
    position: absolute;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 100px;
    font-weight: 100;
    letter-spacing: -5px;
    top: 30%;
    left: 10%;
}

#mta-hack-coming_soon-date {
    font-size: 30px;
    color: #e8aa0f;
    font-weight: 300;
    letter-spacing: 10px;
}

@media only screen and (max-width: 600px) {
    hr {
        opacity: 0;
    }

    body {
        background: url("../img/coming-soon-bg_small.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #mta-hack-coming_soon-txt {
        font-size: 50px;
        top: 30%;
        left: 0;
    }
    #mta-hack_container {
        padding-top: 20px;
    }

    #mta-hack-coming_soon-date {
        font-size: 15px;
        color: #e8aa0f;
        font-weight: 300;
        letter-spacing: 6px;
    }

    #mta-hack-coming_soon-img {
        position: absolute;
        bottom: -35%;
        right: 0;
        max-height: 700px;
    }

    #mta_hack-header-card {
        border: 0;
        padding-bottom: 100px;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0);
    }
}